
body {
	
	background-size : cover;
	background: rgb(245,245,245);
	font-family: 'Open Sans', sans-serif;
	color: #555;
	height: 1200px;;
}

.grande_englobation {
	text-align : center;
}

.formulaire {
	border: 1px solid;
	font:bold 13px Arial;
	color:#555;
	height : 800px;
	width : 450px;
	margin-top : 3%;
	margin-left: 20%;
	padding: 25px 35px 30px;
	background: rgb(225,225,225);
	display: block;
	border-radius: 4px;
	clear: both;
}
.formulaire h2 {
	font-weight: 700;
    color: #1AA1B4;
    font-size: 28px;
	border-bottom : 1px solid; 
	padding-bottom : 20px;
   
	border-bottom-color : #1AA1B4;
	font-family: 'Open Sans', sans-serif;
	text-align : center;
}	
.formulaire .trait_password, .trait_password2 {
	width : 300px;
	height : 28px;
}

.header {
	border:1px solid;
	font:bold 13px Arial;
	color:#555;
	height : 90px;
	width : 90%;
	margin-left : auto;
	margin-right : auto;
	margin-top : 10px;
	padding: 25px 35px 30px;
	background: rgb(225,225,225);
	display: block;
	border-radius: 4px;
	clear: both;
}


.header h1 {
	font-size : 40px;
	margin-top : 0px;
	text-align : center;
	color : black;
	text-shadow: 1px 1px 1px rgb(70,70,70);
}


.id, .mp {
	width: 100%;
    color : rgb(83,83,83);
    font-weight: 600;
	font-size : 17px;
	font-family: 'Open Sans', sans-serif;
}


.btn {
    border: none;
    padding: 0 30px;
    font-size: 17px;
    color: #FFF;
    font-weight: 600;
    line-height: 40px;
    height: 50px;
    display: block;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #FFF;
	background-color : #1AA1B4;
	cursor:pointer;
	margin-top : 30px;
	margin-left : 120px;
}

.btn:hover {
    background: #21cceb;
}

.a1, .a2 
{ 
 color : rgb(60,60,60);
 font-size : 12px;
 width :170px;
 float : left;
} 

.a2 {
	float : left;
	position : absolute;
	left : 35px;
	margin-top : 55px;
}







.a1:hover, .a2:hover {
	color : #1AA1B4;
}

.trait {
	border-bottom : 1px solid; 
	color : #1AA1B4;
}



.phrase {
	border-bottom : 1px solid; 
	padding-bottom : 20px;
	border-bottom-color : #1AA1B4;
	font-size : 20px;
}

.trait_password, .trait_password2 {
	font-size : 17px;
	text-align : center;
	color : rgb(83,83,83);
}
.lien_btn:link {
	text-decoration: none;
	width : 40px;
}

.mot_de_passe_oublie .a1 {
	position : absolute;
	padding-top : 0px;
	
}







 .paragraphe {
	float : left;
	width : 680px;
	position : absolute;
	right : 12%;
	top : 170px;
	color: #555;
	 border : 1px solid;
	 padding : 2px 10px 8px 15px;
	 border-radius: 4px;
	background : rgb(225,225,225);
}
 .paragraphe p {
	font-size : 20px;
	
}

.paragraphe a {
 color :#1AA1B4;
 font-size : 17px;
} 

.paragraphe a:hover {
	color : #21cceb;
}
 .pourquoisecreeruncompte {
  border-bottom : 1px solid;
  font-weight: 700;
  font-size : 26px;
	padding-bottom : 15px;
	border-bottom-color : #1AA1B4;
	color : #1AA1B4;
}
.paragraphe .pourquoisecreeruncompte {
	text-align : center;
}
.pasencoreinscrit {
	border-top : 1px solid;
	border-top-color : #1AA1B4;
	padding-top : 30px;
}
